.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  /* width grows to 100% but never exceeds 900px */
  width: min(100%, 1000px);
  margin-inline: auto;       /* center the block */
  padding: 1.5rem;           /* p-6 */
  padding-top: 2.5rem;       /* pt-10 */
}

.main-padding {
  @apply p-6;
}

.main-top-padding {
  @apply pt-10;
}

.main-desktop-max-width {
  max-width: 900px;
}
@media (min-width: 1024px) {
  .main-desktop-max-width {
    max-width: 900px;
  }
}
.main-desktop-width {
  max-width: 100vw;
}

.index_padding {
  @apply p-0;
}

.section-spacing {
  @apply my-6 sm:my-8 md:my-12;
}

.section-gap {
  @apply space-y-6 sm:space-y-8 md:space-y-12;
}

.top-margin {
  @apply mt-8 sm:mt-10 md:mt-16;
}

.bottom-margin {
  @apply mb-20 sm:mb-28 md:mb-28;
}

.icon-size {
  @apply h-6 w-6 sm:h-7 sm:w-7 md:h-8 md:w-8;
}

.icon-gap {
  @apply gap-4 sm:gap-5 md:gap-6;
}

/* Tailwind default spacing scale numbers:
0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96 


text-xs     → 0.75rem   (12px)
text-sm     → 0.875rem  (14px)
text-base   → 1rem      (16px) ← default
text-lg     → 1.125rem  (18px)
text-xl     → 1.25rem   (20px)
text-2xl    → 1.5rem    (24px)
text-3xl    → 1.875rem  (30px)
text-4xl    → 2.25rem   (36px)
text-5xl    → 3rem      (48px)
text-6xl    → 3.75rem   (60px)
text-7xl    → 4.5rem    (72px)
text-8xl    → 6rem      (96px)
text-9xl    → 8rem      (128px)


*/

