---
const { title, subtitle } = Astro.props;
---

<div class="flex gap-4">
  <div class="education__time">
    <span class="w-4 h-4 bg-miloYellow block rounded-full mt-2"></span>
    <span class="education__line bg-miloYellow block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="flex-1">
    <div class="card bg-base-200 shadow p-4">
      <h3 class="font-semibold mb-1">{title}</h3>
      <span class="font-light text-sm">{subtitle}</span>
      <div class="mt-2 text-justify">
        <slot />
      </div>
    </div>
  </div>
</div>
