New

---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import Divider from "../components/Divider.astro";
import { caseStudiesInclusion, caseStudiesMission } from "../content/casestudies";
import { Image } from "astro:assets";

// all in one rail (or pass just one category)
const featured = [...caseStudiesInclusion, ...caseStudiesMission].slice(0, 3);
---

<BaseLayout title="Sena Lim | Clarity Alchemist">

<!--   <main class="max-w-4xl mx-auto px-4 py-16 space-y-16"> -->


<!----------------------------------------- 
  HERO 
------------------------------------------->

<section
  class="relative bg-white overflow-hidden -mx-6 md:-mx-12
         pt-0 md:pt-0 pb-10 md:pb-16
         md:min-h-screen md:flex md:items-center
         -mt-6"
>

  <!-- Yellow ring (non-interactive decoration) -->
 <div
  class="absolute z-0 rounded-full overflow-hidden bg-miloYellow 
         w-[290px] h-[290px] top-8 left-[-90px]
         md:w-[500px] md:h-[500px] md:top-6 md:left-0
         md:translate-x-0 md:translate-y-0
         -translate-x-1/5 -translate-y-1/5
         -mt-4 md:mt-10">
    <img
        src="/profile.png"
        alt="Profile image"
        class="w-full h-full object-cover"
      />
    </div>

  <!-- Hero text -->

<div class="relative z-10 text-left pl-6 mt-64 md:pl-96  md:mt-32 section-gap"> 

<!-- Tailwind default spacing scale numbers:
0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96 
-->

    <h1 class="font-serif text-4-5xl sm:text-7xl md:text-8-9xl leading-[1.10] md:leading-[1.15]">
      Hi, I’m Sena<br/>
The
<span class="bg-gradient-to-r from-[#5DADEC] to-[#D4A017] bg-clip-text text-transparent">
  Clarity Alchemist.
</span>
    </h1>

    <p class=" text-base sm:text-lg md:text-2xl text-gray-700 md:leading-normal"> <!--max-w-md-->
      I turn signals into <span class="text-miloYellow font-bold">clear product direction</span> &
      <span class="text-miloYellow font-bold"> experiment my way</span> to build systems that help people and strengthen communities.
    </p>

      <!-- Buttons -->
      <div class="flex items-center icon-gap"> <!--mt-3 -->
        <a href="https://www.linkedin.com/in/senalim/"
           target="_blank"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="LinkedIn" title="LinkedIn">
          <svg class="icon-size" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <circle cx="4.983" cy="5.009" r="2.188"></circle>
            <path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"/>
          </svg>
        </a>
      
        <a href="mailto:sena.lim87@gmail.com"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="Email Me" title="Email Me">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-size">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>

        </a>
      
        <a href="/projects"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="View Case Studies" title="View Case Studies">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-size">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
          </svg>

        </a>
        <a href="/cv"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="Resume" title="Resume">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-size">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
          </svg>

          </a>
      </div>
    </div>
  </div>
</section>


<!----------------------------------------- 
  ABOUT ME & RESUME 
------------------------------------------->

<section class="top-margin section-gap section-spacing">
    <Divider />
    <h2 class="text-2xl md:text-3xl font-bold mb-6 text-center">
      A Little About Me
    </h2>

    <p class="text-base sm:text-base md:text-lg text-gray-700 leading-relaxed text-justify">
      I build digital systems that quietly make life better. These are tools that people may never think about but rely on every day. <br /><br />
      From keeping Singapore’s 900+ EV car-share vehicles running during a live system rebuild to helping three million farmers adopt new tools starting with a single SMS, I have learned that lasting change comes from designing with clarity, empathy, inclusion, and trust. <br /><br />
      I am at my best when I am bringing people, technology, and purpose together, creating the kind of systems that quietly help others feel supported, capable, and ready to do their best work.
    </p>

   <div class="flex justify-center gap-5">
      <a class="btn" href="/about" target="_blank">More About Me</a>
      <a href="/cv" target="_blank" class="btn btn-outline">Resume</a>
    </div>
</section>


<!----------------------------------------- 
  FEEDBACK
------------------------------------------->

<section class="top-margin section-gap section-spacing">
<Divider />
<div class="text-3xl md:text-4xl section-gap">
    <h2 class="text-2xl md:text-3xl font-bold text-center">
      What People Say About Me
    </h2>
      <blockquote class="border-l-4 border-miloYellow pl-4 italic">
        "Cuts through noise to focus on what matters."
      </blockquote>
      <blockquote class="border-l-4 border-miloYellow pl-4 italic">
        "Balances strategy, execution, and long-term maintenance."
      </blockquote>
      <blockquote class="border-l-4 border-miloYellow pl-4 italic">
        "Shows warm, motherly energy that motivates others."
      </blockquote>
      <blockquote class="border-l-4 border-miloYellow pl-4 italic">
        "Reliable, accountable, and builds trust across teams."
      </blockquote>
  </div>
</section>


<!----------------------------------------- 
  CASE STUDIES
------------------------------------------->
<section class="top-margin section-gap section-spacing">
<Divider />
    <h2 class="text-2xl md:text-3xl font-bold text-center">
      Featured Case Studies
    </h2>
  
      {featured.map((item, i) => (
        <div>
          <HorizontalCard {...item} />
          {i < featured.length - 1 && <div class="divider my-0"></div>}
        </div>
      ))}
  
    <div class="flex justify-center">
      <a class="btn" href="/projects" target="_blank">
        More Case Studies
      </a>
    </div>
</section>

<!----------------------------------------- 
  CONNECT
------------------------------------------->

<!-- HERO -->
<section
  class="relative bg-white overflow-hidden -mx-6 md:-mx-12
         pt-0 md:pt-0 pb-10 md:pb-16
         md:min-h-screen md:flex md:items-center  mb-20 md:mb-30"
>

  <!-- Yellow ring (non-interactive decoration) -->
 <div
  class="absolute z-0 rounded-full bg-miloYellow overflow-hidden
         w-[290px] h-[290px] top-8 left-[-90px]
         md:w-[500px] md:h-[500px] md:top-6 md:left-0
         md:-translate-x-1/3 md:-translate-y-1/5">
</div>

  <!-- Hero text -->

<div class="relative z-10 text-left space-y-4 px-6 md:px-12 mt-60 md:mt-72">

    <h1 class="font-serif text-4-5xl sm:text-7xl md:text-9xl leading-tight">
      Let's</br>Connect
    </h1>

    <p class="text-base sm:text-base md:text-lg text-gray-700 max-w-md">
     I'm remote-friendly and always open to new opportunities. Feel free to view my resume for more details. Alternatively, you may email me or reach out on LinkedIn!
    </p>

     <!-- Buttons -->
      <!-- Buttons -->
      <div class="mt-3 flex items-center icon-gap">
        <a href="https://www.linkedin.com/in/senalim/"
           target="_blank"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="LinkedIn" title="LinkedIn">
          <svg class="icon-size" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <circle cx="4.983" cy="5.009" r="2.188"></circle>
            <path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"/>
          </svg>
        </a>
      
        <a href="mailto:sena.lim87@gmail.com"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="Email Me" title="Email Me">
          <!--<svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M20 4H4C2.897 4 2 4.897 2 6v12c0 1.103.897 2 2 2h16c1.103 
                     0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 5.333-8-5.333V6h16zM4 
                     18V8.489l8 5.333 8-5.333V18H4z"/>
          </svg>-->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-size">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>

        </a>
    
        <a href="/cv"
           class="inline-flex icon-size items-center justify-center leading-none text-gray-800 hover:text-textYellow"
           aria-label="Resume" title="Resume">
            <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="currentColor" viewBox="0 0 24 24">
              <path d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12
                       c1.1 0 2-.9 2-2V8l-6-6zm1 14H9v-2h6v2zm0-4H9V10h6v2zm-3-6V3.5L18.5 9H12z"/>
            </svg>-->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-size">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
          </svg>

          </a>
      </div>
    </div>
  </div>
</section>

 
</BaseLayout>
