---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { caseStudiesInclusion, caseStudiesMission } from "../content/casestudies";

---

<BaseLayout title = "Case Studies | Sena Lim" sideBarActiveItemID="projects">
<h2 class="heading-2 text-center mb-6">Case Studies</h2>
<p>
<b>Real-world frictions. Thoughtful systems. Product thinking in action.</b><br/><br/>

These aren’t past projects. They’re <b>problem spaces</b> I care deeply about.<br/><br/>
Each case explores a challenge I’ve observed in the real world, from digital exclusion to caregiver burden, and how I’d approach it as a product manager.<br/><br/>

This is where I apply structured thinking to themes that matter to me:<br/>
inclusion, dignity, trust, and systems that quietly support people.<br/><br/>
</p>

<!-- Inclusion & Everyday Systems -->
  <div id="inclusion">
    <div class="text-3xl w-full font-bold mb-5">Inclusion & Everyday Systems</div>
  </div>
  {caseStudiesInclusion.map((study, idx) => (
    <>
      <HorizontalCard {...study} />
      {idx < caseStudiesInclusion.length - 1 && <div class="divider my-0"></div>}
    </>
  ))}

  <!-- Mission-Critical Strategy -->
  <div id="mission">
    <div class="text-3xl w-full font-bold mb-5 mt-10">Mission-Critical Strategy</div>
  </div>
  {caseStudiesMission.map((study, idx) => (
    <>
      <HorizontalCard {...study} />
      {idx < caseStudiesMission.length - 1 && <div class="divider my-0"></div>}
    </>
  ))}


</BaseLayout>






