---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul id="sidebar-menu" class="menu grow shrink menu-md overflow-y-auto">
  <li><a class="py-3 text-base" id="home" href="/#home">Home</a></li>
  <li><a class="py-3 text-base" id="about" href="/#about">About</a></li>
  <li><a class="py-3 text-base" id="skills" href="/#skills">Skills &amp; Achievements</a></li>
  <li><a class="py-3 text-base" id="feedback" href="/#feedback">What People Say</a></li>
  <li><a class="py-3 text-base" id="case-studies" href="/#case-studies">Case Studies</a></li>
  <li><a class="py-3 text-base" id="connect" href="/#connect">Connect</a></li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);

const menu = document.getElementById("sidebar-menu");
menu?.querySelectorAll("a").forEach((link) => {
  link.addEventListener("click", () => {
    const drawerToggle = document.getElementById("my-drawer");
    if (drawerToggle) drawerToggle.checked = false;
  });
});
</script>
