---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "OneDigital Ecosystem";
---
<BaseLayout title={title} sideBarActiveItemID="projects">
  <div class="w-full flex justify-center">
    <iframe src="https://gamma.app/embed/qr0yxvbc3tfxxsl" style="width: 700px; max-width: 100%; height: 450px" allow="fullscreen" title={title}></iframe>
  </div>
</BaseLayout>
