---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "MSF Case Management Scaling Strategy";
---
<BaseLayout title={title} sideBarActiveItemID="projects">
  <section class="flex flex-col flex-1">
    <h2 class="heading-2 mb-6 text-center">Case Study: {title}</h2>
    <iframe
      src="https://gamma.app/embed/wughh5ajdvvsj0p"
      class="w-full flex-1"
      allow="fullscreen"
      title={title}
    ></iframe>
  </section>
</BaseLayout>
