---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Building Everyday Trust in CDC Vouchers";
---
<BaseLayout title={title} sideBarActiveItemID="projects">
  <section class="w-full aspect-[700/450]">
    <iframe
      src="https://gamma.app/embed/pi98twd94vr72vs"
      class="h-full w-full"
      allow="fullscreen"
      title={title}
    ></iframe>
  </section>
</BaseLayout>
