---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Crisis Triage Ecosystem";
---
<BaseLayout title={title} sideBarActiveItemID="projects">
  <section class="w-full aspect-[700/450]">
    <iframe
      src="https://gamma.app/embed/01lr9crq9g9vk2v"
      class="h-full w-full"
      allow="fullscreen"
      title={title}
    ></iframe>
  </section>
</BaseLayout>
