---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "MSF Case Management Scaling Strategy";
---
<BaseLayout title={title} sideBarActiveItemID="projects">
  <section class="w-full aspect-[700/450]">
    <iframe
      src="https://gamma.app/embed/wughh5ajdvvsj0p"
      class="h-full w-full"
      allow="fullscreen"
      title={title}
    ></iframe>
  </section>
</BaseLayout>
