---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Building Everyday Trust in CDC Vouchers";
---
<BaseLayout title={title} sideBarActiveItemID="projects">
  <div class="w-full flex justify-center">
    <iframe src="https://gamma.app/embed/pi98twd94vr72vs" style="width: 700px; max-width: 100%; height: 450px" allow="fullscreen" title={title}></iframe>
  </div>
</BaseLayout>
