---
import BaseLayout from "../../layouts/BaseLayout.astro";
const title = "Calendar to WhatsApp Alerts";
---
<BaseLayout title={title} sideBarActiveItemID="ai-projects">
  <section class="flex flex-col flex-1 prose max-w-none">
    <h2 class="heading-2 mb-6 text-center">{title}</h2>
    <p>
      Whenever I create, update, or delete a Google Calendar event, this n8n workflow sends a WhatsApp update to the relevant people so
      everyone stays informed in real time.
    </p>
    <img src="/Project 3 - Google Shared Calendar - WhatsApp Message.png" alt="Google Calendar triggers sending WhatsApp notifications" />
  </section>
</BaseLayout>
